<div {{ attributes.setAttribute('id', settings.css_id).addClass('row', settings.css_classes) }}>
    {% if content.one %}
        <div class="col-md-12 p-md-0">
            {{ content.one }}
        </div>
    {% endif %}

    {% if content.two %}
        <div class="col-md-12">
            {{ content.two }}
        </div>
    {% endif %}

    {% if content.three %}
        <div class="col-md-12">
            {{ content.three }}
        </div>
    {% endif %}

    {% if content.left %}
        <div class="col-md-6">
            {{ content.left }}
        </div>
    {% endif %}

    {% if content.right %}
        <div class="col-md-6">
            {{ content.right }}
        </div>
    {% endif %}
</div>