{%
    set class = [
        'row',
        'justify-content-center',
    ]
%}
<div class="container-fluid">
    <div {{ attributes.setAttribute('id', settings.css_id).addClass(class) }}>
        {% if content.top %}
        <div class="col-md-12">
            <div class="container">
                {{ content.top }}
            </div>
        </div>
        {% endif %}
        {% if content.content %}
        <div class="col-md-8">
            <div class="container">
                {{ content.content }}
            </div>
        </div>
        {% endif %}
        {% if content.bottom %}
        <div class="col-md-12">
            <div class="container">
                {{ content.bottom }}
            </div>
        </div>
        {% endif %}
    </div>
</div>    