@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 1025px) {
    .rmh{
      min-height: var(--heightDefault);
    }
  }