.path-frontpage {
  // .card {
  //   min-height: 340px;
  //   border: 0;
  //   &-body{
  //     text-align: center;
  //   }
  //   &-title {
  //     margin: 0 auto 1.5rem auto;
  //     width: 200px;
  //     font-weight: bold;
  //   }
  // }
  .clientes{
    margin: 8rem auto;
    .card{
      cursor: pointer;
      height: 180px;
      margin-bottom: 1rem;
      transition: 0.4s;
      .views-field-fieldset-1{
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      &:hover {
          transform: scale(1.1);
      }
    }
  }

  #slider_content{
    img{
      width: 100%;
    }
    button {
      top: 50%;
      transform: translateY(-50%);
      i{
        font-size: 2rem;
        color: var(--primaryColor);
        text-shadow: 2px 3px 0px black;
      }
    }
    .carousel {
      &-caption {
        position: static;
        text-align: center;
        z-index: 100;
      }
      @include media-breakpoint-up(lg) {
        &-caption {
          position: absolute;
          text-align: right;
          right: 1%;
        }
      }
    }
  }
}
