.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-brand img {
  height: 50px;
  @include media-breakpoint-up(lg) {
    & {
      height: 100px;
    }
  }
}
.menuContainer {
  /* transition: all 1s ease-in-out;
    position: inherit;*/
  background-color: white;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: $box-shadow;
  &.navShadow {
    position: fixed;
  }
}
.navbar-toggler {
  margin: 0;
  padding: 0;
  &:focus {
    box-shadow: none;
  }
}
/* btn */
.menu {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 25px;
}
.menu span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.menu span:before,
.menu span:after {
  position: absolute;
  content: "";
}
.menu span,
.menu span:before,
.menu span:after {
  width: 25px;
  height: 4px;
  background-color: #000;
  display: block;
}
.menu span:before {
  margin-top: -8px;
}
.menu span:after {
  margin-top: 8px;
}
/* --- btn --- */

/* example 5 */
.mDesign span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.mDesign span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}
.mDesign span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.show span {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.show span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
.show span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

#block-theme-befor-account-menu {
  .nav-link {
    font-size: 0.8rem;
    padding: 0.8rem 1rem 0 1rem;
  }
}

#navbarPrincipal {
  a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    &.nav-link {
      position: relative;
      font-size: 1.3rem;
      @include media-breakpoint-up(lg) {
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
          height: 50%;
          background: #dadada;
          -webkit-transform: translateY(50%);
          transform: translateY(50%);
        }
        &:last-child::before {
          width: 0px;
        }
      }
    }
    &.active,
    &:hover {
      text-decoration: underline;
      text-underline-offset: 7px;
    }
  }
}

.socialmedia {
  a {
    color: white;
    transition: all 0.5s ease-in-out;
    i {
      font-size: 2rem;
    }
    &:hover {
      color: var(--primaryColor);
      transform: scale(1.2);
    }
  }
}
