.path-node{
    .field--name{
        &-field-image img{
            width: 100%;
        }
        &-node-title h2{
            display: inline-block;
            background: orange;
            box-shadow: 17px 0 0 0 orange, -17px 0 0 0 orange;
            color: white;
            line-height: 1.5;
            padding: 4px 0 9px;
            font-weight: bold;
            position: relative;
            margin-top: -22px;
        }
        &-node-changed-date{
            font-size: 0.8rem;
            color: #666;
        }
        &-body{
            margin-top: 2rem;
        }
        &-author{
            text-align: right;
            span{
                font-weight: bold;
            }
        }
    }
    .block-views-blockcontent-dflt-block-1{
        .card-img-top img{
            max-width: 100%;
            height: auto;
        }
    }
}