{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
	<h3>{{ title }}</h3>
{% endif %}
{% for key, row in rows %}
	{% if key == 0 %}
		<div class="carousel-item active">
			{{ row.content }}
		</div>
	{% else %}
		<div class="carousel-item">
			{{ row.content }}
		</div>
	{% endif %}
{% endfor %}

{% if rows|length > 1 %}
	<button class="carousel-control-prev" type="button" data-bs-target="#slider_content" data-bs-slide="prev">
		<i class="fas fa-chevron-left"></i>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#slider_content" data-bs-slide="next">
		<i class="fas fa-chevron-right"></i>
	</button>
{% endif %}
