.colorwidget .glb-form-radios {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: .5em;
}

.colorwidget .glb-form-type--radio .glb-form-item__label {
  display: none !important;
  visibility: hidden !important;
  z-index: 1 !important;
  position: absolute !important;
  top: 100% !important;
  left: -10px !important;
  padding: .5em !important;
  color: #eee !important;
  background: #222330 !important;
  border-radius: 4px !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}
.colorwidget .glb-form-type--radio:hover .glb-form-item__label {
  display: block !important;
  visibility: visible !important;
}

.colorwidget .glb-form-type--radio {
  border-radius: 50% !important;
  position: relative !important;
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}

.colorwidget .glb-form-type--radio input {
  cursor: pointer !important;
  width: 32px !important;
  height: 32px !important;
  margin-right: .5em !important;
  border-color: #d4d4d8 !important;
  transform: translateY(0) !important;
  margin-top: -20px !important;
}

.colorwidget .glb-form-type--radio input:checked {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #222330 !important;
  border-color: transparent !important;
}
.colorwidget .glb-form-type--radio input.color-css--transparent {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 0), white !important;
  background-position: 0px 0, 5px 5px !important;
  background-size: 10px 10px, 10px 10px !important;
}
