/**
 * @file
 * Styles for making layout builder look more like Claro.
 */

.layout-builder__add-section {
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 1em;
}



.layout-builder__link--add {
  @extend .glb-button;
}

.layout-builder__link--configure {
  padding: 0em 0.25em 0 0.25em;
  font-size: 0.75em;
  position: absolute;
  color: var(--colorGinFormElementBorder);
  top: -18px;
  left: 20px;
  z-index: 1;
  line-height: 19px;
  background: white;
  &:hover {
    background: var(--colorGinPrimary) !important;
    color: var(--colorGinButtonText) !important;
  }
}

.layout-builder__link {
  text-decoration: none;
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.layout-builder__link--remove {
  &:hover {
    mask-image: none;
    background-color: var(--colorGinPrimary) !important;
  }
  &:hover:after {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px;
    width: 100%;
    height: 100%;
    background-image: icon('remove-section');
    content: '';
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
  }

  background-color: var(--colorGinFormElementBorder);
  background-position: center;
  background-repeat: no-repeat;
  mask-size: 14px 14px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: icon('remove');
  box-sizing: border-box;
  white-space: nowrap;
  text-indent: -9999px;
  display: inline-block;
  font-size: 0.889em;
  height: 18px;
  width: 18px;
  position: absolute;
  top: -18px;
  left: 0px;
  z-index: 2;
}

.layout-builder__layout {
  margin-top: 1em;
}

.layout-builder__section {
  position: relative;
  &:hover:after {
    position: absolute;
    border: 1px solid var(--colorGinPrimary) !important;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  &:hover {
    .layout-builder__link--remove {
      background-color: var(--colorGinPrimary);
    }
    .layout-builder__link--configure {
      color: var(--colorGinPrimary);
    }
  }
}

.layout-builder__section .ui-sortable-helper {
  background-color: #fff;
  outline: 1px solid #f7f7f7;
}
.layout-builder__section .ajax-progress-throbber {
  position: absolute;
  z-index: 10;
  left:0;
  top: 0;
}
.layout-builder__section .ui-state-drop {
  background-color: #ffd;
  outline: 2px dotted #fedb60;
  margin: 20px;
  padding: 30px;
}

.layout-builder__add-block {
  background: transparent !important;
}

.layout-builder__message .messages {
  background-repeat: no-repeat;
}

/* @todo Remove Umami specific styling in https://www.drupal.org/node/3043228. */
.layout-builder__message .messages .messages__content {
  background: none;
}

.layout-builder-block__content-preview-placeholder-label {
  margin: 0;
  line-height: 1.4;
  font-size: 1em;
  text-align: center;
  padding: 1em;
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.layout-builder--content-preview-disabled .layout-builder-block {
  margin: 0;
}

.layout-builder-block {
  cursor: move;
  word-break: break-word;
}

#drupal-off-canvas .layout-selection li {
  display: block;
  padding-bottom: 1em;
}

#drupal-off-canvas .layout-selection li a {
  display: block;
}

#drupal-off-canvas .layout-selection li a svg {
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;
}

#drupal-off-canvas .layout-selection li a div {
  display: inline-block;
}

#drupal-off-canvas .inline-block-create-button {
  display: block;
  padding: 24px;
  padding-left: 44px;
  font-size: 16px;
  color: #eee;
  border-bottom: 1px solid #333;
  background: url('/core/misc/icons/bebebe/plus.svg') transparent 16px no-repeat;
}

.layout-builder__region-label,
.layout-builder__section-label {
  display: none;
}

.layout-builder--move-blocks-active .layout-builder__region-label {
  display: block;
}

.layout-builder--move-blocks-active .layout-builder__section-label {
  display: inline;
}

.layout__region-info {
  padding: .5em;
  text-align: left;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Highlight the name of each layout. */
.layout-builder--content-preview-disabled [data-layout-label] {
  position: relative;
}

.layout-builder--content-preview-disabled [data-layout-label]::before {
  content: attr(data-layout-label);
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  padding: .5em 1.5em;
  color: #fff;
  background-color: #13589a;
  box-shadow: 0 0.125em 0.125em -0.125em #111;
}

