.gin-table-scroll-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.glb-table.sticky-header {
  z-index: 98;
  left: auto !important;
  background: transparent;

  th {
    &:first-child {
      border-top-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
    }
  }
}

.glb-table {
  width: 100%;

  thead {
    border-radius: $borderDefault;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  }

  th {
    color: var(--colorGinText);
    background: var(--colorGinTableHeader);

    @include mq($breakpointMedium) {
      height: auto;
      padding: 1em;
    }

    &:first-child {
      border-top-left-radius: $borderDefault;
      border-bottom-left-radius: $borderDefault;
    }

    &:last-child {
      border-top-right-radius: $borderDefault;
      border-bottom-right-radius: $borderDefault;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--colorGinTableBorder);
    }
  }

  tr,
  .draggable-table.tabledrag-disabled tr {
    color: var(--colorGinText);
    background-color: transparent;

    &:hover {
      color: var(--colorGinText);
      background: var(--colorGinItemHover);
    }
  }

  tr.selected {
    .gin--dark-mode & {
      border-color: rgba(white, .2);
    }

    td {
      background-color: var(--colorGinPrimaryLight);
    }
  }

  td {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .group-label {
      color: var(--colorGinTitle);
    }
  }
}

.sortable-heading {
  > a::after {
    background: var(--colorGinTextLight);
    mask-image: icon('sort');
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.tablesort {
  background-color: var(--colorGinPrimary);
  background-image: none;
  mask-image: icon('sort');
  mask-repeat: no-repeat;
  mask-position: 0 50%;
}

.tablesort--asc,
[dir="rtl"] .tablesort--asc {
  mask-image: icon('sort-asc');
}

.tablesort--desc,
[dir="rtl"] .tablesort--desc {
  mask-image: icon('sort-desc');
}

