{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		<div class="navbar-nav text-end">
			{% for item in items %}
				{%
        set classes = [
          'nav-link',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'active',
        ]
      %}
				{{ link(item.title, item.url, item.attributes.addClass(classes)) }}
				{% if item.below %}
					{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endmacro %}
  
  {% if logged_in %}
    <a href="/user" class="nav-link d-lg-none">Mi cuenta</a>
    <a href="/user/logout" class="nav-link d-lg-none">Cerrar sesión</a>
  {% endif %}
  
</div>
