{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level, logged_in) %}
	{% import _self as menus %}
	{% if items %}
		{% if menu_level == 0 %}
			<ul class="nav socialmedia">
			{% endif %}
			{% for item in items %}
				{%  
                    set icon_classes = [
                        'fab fa-facebook',
                        'fab fa-instagram',
                        'fab fa-twitter',
                        'fab fa-linkedin',
                    ]
                %}
				<li class="nav-item">
					<a href="{{ item.url }}" target="_blank" class="nav-link">
						<i class="{{icon_classes[loop.index0]}}"></i>
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

<div>
	{% set icon = not logged_in ? 'fas fa-sign-in-alt' : 'fas fa-sign-out-alt' %}
	{% set url = not logged_in ? '/user/login' : '/user/logout' %}
	{% set text = not logged_in ? 'Iniciar sesión' : 'Cerrar sesión' %}

	<a href="{{ url }}" class="text-light text-decoration-none">{{ text }}
		<i class="{{ icon }}"></i>
	</a>
</div>

